{% extends "base_dashboard.html" %}

{% block dashboard_content %}
  <h2>Tableau de bord Gestionnaire</h2>

  <h4>Services disponibles</h4>
  <a href="{% url 'services:liste_services' %}" class="btn btn-success mb-3">liste des services</a>
  <a href="{% url 'reservations:liste_reservations_gestionnaire' %}" class="btn btn-outline-secondary">
    📋 Réservations à traiter
  </a>
  <a href="{% url 'personnel:liste_employes' %}" class="btn btn-outline-secondary">👷‍♂️ Gérer les employés</a>
  <a href="{% url 'personnel:ajouter_employe' %}" class="btn btn-primary mb-3">
    <i class="fas fa-user-plus"></i> Ajouter un employé
  </a>
  <a href="{% url 'personnel:liste_clients' %}" class="btn btn-outline-secondary">👷‍♂️ Gérer les clients</a>

  

{% endblock %}
